            Hi {{ user.name }},
            
           Please click the button below to activate your account:
            

   "http://{{ domain }}{% url 'activate' uidb64=uid token=token %}"
                    Activate Your Account

            This link will expire in 24 hours.
            
           If you did not register, please ignore this email.
            
            Best regards,
          Umuturage Kw'isonga (UK)

        

           Umuturage Kw'isonga (UK)
            Kigali, Rwanda
            Email: info@uk.rw
            Phone: +250 123 456 789
            
          &copy; 2025 Umuturage Kw'isonga. All rights reserved.
